.toaster {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column-reverse;
  padding: 16px 20px;
  gap: 12px;
  overflow-y: hidden;
  z-index: calc(infinity * 1);
}