@use "../../styles/mixins";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);

  &__container {
    @include mixins.modalForm;

    height: fit-content;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--block-background);
  }
}