@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #586BA4;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    overflow-x: hidden;
}

:root {
    --header-background: #F68E5F;
    --block-background: #F5DD90;
    --button-hover: rgba(0, 0, 0, 0.2);
    --button-active: rgba(0, 0, 0, 0.3);
}